.anime {

    &__intro {
        align-items: center;
        padding-block: 120px;
        display: none;
    
        p {
            line-height: 24px;
            margin-top: 20px;
            font-size: 14px;
            color: #e2e4ffea;
        }
    
        h2 {
            line-height: 50px;
            margin-top: 20px;
            font-size: 42px;
        }
    
        &-left {
            width: 100%;
            flex: 1;
    
            img {
                margin: 0 auto;
                display: block;
            }
        }

        &-right {

            flex: 1.4;

            .anime__top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-favorite {
                    padding: 10px 20px;
                    border: 1px solid white;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &::before {
                        content: "♡ ";                    
                    }

                    &:hover {
                        background-color: white;
                        color: #952F27;
                        transition: all .3s ease-in-out;
                        box-shadow: 1px 1px 14px #fccecb;
                        
                        &::before {
                            content: "♥ ";
                        }
                    }

 
                }
                
            }

            .anime__extra-infos {
                background-color: #0b0d2ec4;
                display: grid;
                grid-template-columns: repeat(4, minmax(80px, 1fr));
                padding: 25px;
                border-radius: 6px;
                margin-top: 20px;
                justify-content: space-between;
                background: rgba(11, 13, 46, 0.57);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(1.1px);
                -webkit-backdrop-filter: blur(1.1px);
                border: 1px solid #8d93ff67;

                p {
                    color: #e2e4ffea;
                    font-weight: 300;
                    margin-top: 10px;
                }

                span {
                    color: white;
                }
            }
        }
    }
    

}

.listar-categorias {
    span {
        cursor: help;
    }
}