.anime {
    display: none;

    &__video {
        display: none;
        width: 100%;
        height: 100vh;
        background-color: #000000a1;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }

    &__intro {
        padding-top: 100px;
        padding-bottom: 80px;
        display: none;
        gap: 20px;
    
        p {
            line-height: 24px;
            margin-top: 8px;
            font-size: 14px;
            color: #e2e4ffea;

            &:first-child {
                margin-top: 20px;
            }
        }
    
        h2 {
            line-height: 50px;
            margin-top: 20px;
            font-size: 36px;
        }
    
        &-left {
            width: 100%;
            flex: 1;
    
            img {
                margin: 0 auto;
                display: block;
            }
        }

        &-right {

            flex: 2;

            .anime__top {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                &-favorite {
                    display: none;
                    padding: 10px 20px;
                    border: 1px solid white;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &::before {
                        content: "♡ ";                    
                    }

                    &:hover {
                        background-color: white;
                        color: #952F27;
                        transition: all .3s ease-in-out;
                        box-shadow: 1px 1px 14px #fccecb;
                        
                        &::before {
                            content: "♥ ";
                        }
                    }
                }
            }

            .anime__categorias {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 20px;
            
                span {
                    padding: 8px;
                    cursor: help;
                    font-size: 10px;
                    color: #e2e4ffea;
                    font-weight: 300;
                    background: rgba(11, 13, 46, 0.57);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(1.1px);
                    -webkit-backdrop-filter: blur(1.1px);
                    border-radius: 12px;
                    border: 1px solid #8d93ff67;
                }
            }

            .anime__wrapper {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: 100px;
                margin-top: 30px;

                .anime__extra-infos {
                    flex: 3;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 20px;
                    border-radius: 6px;
                    justify-content: flex-start;
                    align-items: center;
                    background: rgba(11, 13, 46, 0.57);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(1.1px);
                    -webkit-backdrop-filter: blur(1.1px);
                    border: 1px solid #8d93ff67;

                    div {
                        flex-basis: 150px;
                    }
    
                    h4 {
                        color: white;
                    }
    
                    p {
                        color: #e2e4ffea;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                }

                .anime__trailer {
                    flex: 1;
                    border: 1px solid rgba(255, 255, 255, 0.568);
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;
                    text-align: center;
                    cursor: pointer;
                    transition: opacity .6s ease;

                    &::after {
                        content: "Assista o trailer";
                        font-size: 12px;
                    }

                    &:hover {
                        opacity: .5;
                    }
                }

            }

            
        }
    }
}

